@import "../../../assets/styles/vars";


.article {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  background: $background-color-base;
  box-shadow: 0 4px 12px 0 $box-shadow;
  padding: 15px 15px 25px 20px;
  min-height: 130px;
}

.anim {
  animation: ItemAnimate .4s backwards ease-in-out;
}


@keyframes ItemAnimate {
  0% {
    transform: translateX(150px);
    opacity: 0;
  }
  100%{
    transform: translateX(0px);
    opacity: 1;
  }
}