  $background-color-base: #FFF;
  $background: #EBEEF3;
  $success-color: #52C41A;
  $heading-color: rgba(0, 0, 0, 0.85);
  $info-color: #1890FF;
  $text-color: rgba(0, 0, 0, 0.75);
  $text-color-secondary: rgba(0, 0, 0, 0.50);
  $primary-color: #1890FF;
  $grey-grey-1: #FFFFFF;
  $grey-grey-2: #E8E8E8;
  $grey-grey-5: #D9D9D9;
  $grey-grey-6: #BFBFBF;
  $grey-grey-7: #8C8C8C;
  $grey-grey-8: #595959;
  $grey-grey-9: #262626;
  $red-red-9: #ff0000;

  $box-shadow: rgba(0, 0, 0, 0.15);

  $font-size-xs: 12px;
  $font-size-sm: 14px;
  $font-size-md: 16px;
  $font-size-lg: 18px;
  $font-size-xl: 20px;
